@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

    <h2 style="align-items:center">Login</h2>
    <br />
    <label><b>Username:</b></label>
    <br />
    <input type="text" placeholder="Enter your name" />
    <br /><br />
    <label><b>Password:</b></label>
    <br />
    <input type="text" placeholder="Enter your valid password" />
    <br /><br />
    <button style="color:white; background-color:green;"><b>Log in</b></button>




